<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfxb.xfshop.service.dao.UserMapper">
<!-- 半自动映射，这样写，可以省略掉 -->
	<sql id = "userColumns">
		<trim suffixOverrides=",">
			a.id,
			a.name,
			<!-- b.name as "role.name",
			b.id as "role.id", 
			或者用下面这种命名方式也行-->
			b.name as role_name,
			b.id as role_id,
		</trim>
	</sql>
	<select id = "selectByPrimaryKey" parameterType = "Integer" resultType = "User">
		select
			<include refid = "userColumns"></include>
		from user a,role b
		where a.role_id = b.id
			<trim prefix = "and">
				 a.id = #{id}
			</trim>
	</select>
	
	<select id = "selectByPrimary" parameterType = "Integer" resultType = "map">
		select * from user where id = #{id}
	</select>
	
	<select id="list" parameterType="User" resultType="User">
		select * from user order by name
	</select>
	
</mapper>